html{
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.6;
      background: radial-gradient(
        circle at center,
        #2b2b2b 0%,
        #1f1f1f 45%,
        #121212 100%
        );
  color: #eaeaea;
}
/* NAGŁOWEK */
header{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: rgba(0,0,0,0.5);
    
}
.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    display: flex;
    gap: 15px;
}
a{
  text-decoration: none;
  color: #fff;  
  font-weight: 500;
  border-radius: 4px;
}
#logo{
        height: 36px;
        padding:0px;
     margin-top:-5px;
    }

/* SEKCJA GŁÓWNA */
main{
width: 80%;
  max-width: 1200px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 60px; 

    }
section {  
    position: relative;
  justify-content: center;
  width: 100%;
  max-width: 50%;
  height: auto;
  padding: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
  border-radius: 20px;
  transition: transform 0.3s ease;
    }
.section-left{
        display: flex;
        align-self: flex-start;  
        justify-content: flex-start;
        text-align: start;
    }
.section-right{
        display: flex;
        align-self: flex-end;  
        justify-content: flex-end;
        text-align: end;
    }
section:hover{
    transform: translateY(-10px);
}
.image-hover{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 80%;
  border-radius: 15px;
  transition: transform 0.3s ease;
}
.image-hover-right{
    right: -80%; 
}
.image-hover-left{
    left: -80%; 
}
.image-hover img {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: opacity 0.6s ease; 
}
.img-hover {
  opacity: 0;
  width: 100%;
}
.image-hover:hover .img-hover {
  opacity: 1; 
width: 90%;
margin-left: 5%;
}
.image-hover:hover .img-default {
  opacity: 0; 
   width: 100%;
}
article{
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    color: #222;
}
.section-button{
    text-align: center;
    margin: 0 auto; 
  padding: 30px 50px;
  font-size: 30px;
  font-weight: bold;
  background-color: #0059ff;
  border-radius: 10px;
}
.section-button-align{
    padding-top: 30px;
    text-align: center;
}
.section-button:hover {
  background-color: #003bb3;
}
/* FOOTER */
footer {
      text-align: center;
      padding: 15px;
      background: #1a1a1a;
      color: #fff;
}
/* ZMIANY STYLÓW DLA TABLETÓW */
@media (max-width: 1150px) {
    main{
       position: relative;
        flex-direction: column;
    }
  section {
    position: relative;
    max-width: 90%; 
    aspect-ratio: auto;
      width: 80%;
    margin: 0 auto 40px;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
  .section-left,
  .section-right {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-hover-left,
.image-hover-right {
left: auto;
    right: auto;
  width: 100%;
  position: relative;
  margin: 0;
  display: none;
}

  .image-hover img,
  .img-hover {
    width: 66%;
    height: auto;   
    left: 15px;  
  }
}
/* ZMIANY STYLÓW DLA TELEFONÓW */
@media (max-width: 450px) {
 section {
    position: relative;
    max-width: 95%;
    width: 93%;
   }
   header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    text-align: center;
   }
   header img{
    display: none;
   }

   nav ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    text-align: center;
    gap: 40px;
}
}

